.first-chart-container {
	width: 400px;
	height: 250px;
}
.second-chart-container {
	width: 400px;
	height: 250px;
}
.third-chart-container {
	width: 400px;
	height: 250px;
}
.fourth-chart-container {
	width: 400px;
	height: 250px;
}
